@charset "utf-8";
/* CSS Document */

/* -- FONTS */

body, table, input, select {
	font-family: 'BrownProReg', sans-serif;
	font-size:10pt;
	color:rgba(0,0,0,0.87);
}

/* -- BODY */

html {
	width:100%; 
	height:100%; 
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

/* -- ELEMENTS */

a {
	color:#73c29c;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
}

h1 {

}
h2 {

}
h3 {
	font-weight:bold;
	color:rgba(0,0,0,0.54);
}

/* -- SECTION */

section {
	width:100%;
	height:100%;
}

/* -- HEADER */

.header {
	z-index:10;
	position:relative;
	top:0; left:0; right:0;
	background:#73c29c;
	color:#bce1cf;
}

	.header .title {
		padding:8px;
		margin-top:-18px;
	}
	
	.header .title .maplab {
		font-family: 'HKUnormal', sans-serif;
		font-size:24pt;
	}
	
	.header .title .downloadportal {
		font-family: 'HKUoutline', sans-serif;
		font-size:24pt;
	}
	
.subheader {
	position:relative;
	top:0; left:0; right:0;
	height:33%;
	background:#73c29c;
	background-image:url(../img/subheader1.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

/* -- CONTENT */

.content {
	position:relative;
	top:0;
	width:960px;
	margin:auto;
}

	.content .toc {
		overflow:hidden;
		position:absolute;
		top:32px;
		width:160px;
		padding:16px;
		background:#bce1cf;
		border:1px solid #73c29c;
		font-size:10pt;
	}
	
	.content .toc .title {
		margin-bottom:12px;
		font-weight:bold;
	}
	
	.content .toc .group {
		margin-bottom:12px;
	}
	
	.content .toc a {
		color:#5c4b52;
	}
	
	.content .block {
		position:relative;
		top:16px;
		left:224px;
		width:736px;
		padding-bottom:16px;
	}
	
	.content .block .ruler {
		width:100%;
		height:1px;
		margin-top:-8px;
		background:rgba(0,0,0,0.54);
	}
	
	.content .block table {
		width:100%;
	}
		
		.block table td {
			padding:4px 0 4px 0;
		}

/* -- COMMON */

/* Center tools */
	
.center_table {
	display:table;
	width:100%;
	height:100%;
}

.center_td {
	display:table-cell;
	width:100%; height:100%;
	text-align:center;
	vertical-align:middle;
}

/* Float tools */

.floatright {
	float:right;
}

/* Round */


.roundedCorners2, .round2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	}

.roundedCorners4, .round4 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

/* Shadow */

.textshadow25 {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	}
	
.shadow_z1 {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2 {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.37);
}

.shadow_z3 {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
}

.shadow_z4 {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
}

.shadow_z5 {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}
	
.shadow_z1u {
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2u {
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
}

.shadow_z3u {
	box-shadow: 0px -3px 6px rgba(0, 0, 0, .5);
}

.shadow_z4u {
	box-shadow: 0px -4px 8px rgba(0, 0, 0, .5);
}

.shadow_z5u {
	box-shadow: 0px -5px 10px rgba(0, 0, 0, .5);
}
	
.shadowInset {
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}

/* Selectable */

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

.selectable, p, input, textarea {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor:text;
}



























